<!DOCTYPE html>
<html ng-app="iVenues">
  <head>
    <meta charset="UTF-8">
    <title>i-Venues</title>
    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.1/angular-google-maps.min.js"></script>


    <script src='https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="libs/autocomplete.js"></script>


    <script type="text/javascript" src="libs/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>



  <body>





    <div class="container-full" ng-controller="MainController as mainCtrl">


    <!--  Header  -->
      <div class="row test " >
          <div class="col-md-6 col-md-offset-2 ">
            <a href="http://ivenues.herokuapp.com/home.html">
            <h4 class="title animated  bounceInLeft" ><i class="fa fa-cutlery title_icon" ></i>iVenues</h4></a>

          </div>
          <div class="col-md-4 hidden-xs hidden-sm">
          <a href="http://venues.herokuapp.com/" target="_blank" ><div><img class=" title animated  bounceInRight" ng-src="images/mappin.png"style=" margin:10px; height:40px;"></div>
          </a>
          <label id="help_button" ng-hide="mainCtrl.startS" class="btn btn-danger title_bt  pulsate" ng-click="mainCtrl.changeEnd()">Help!!</label>
        </div>
      </div>


      <!--start and help screen-->
      <div id ="tasks_id" class="row my_row" >


        <div class="row start_screen" ng-show="mainCtrl.startS" >

          <div class="col-md-8 col-md-offset-2 centered wrapper">
            <p class="text-center white_p_big animated  bounceInDown"> <b>iVenues</b></p>
            <p class="text-left centered white_p animated  bounceInDown"><span class="fa fa-cutlery"></span> Are you looking for a place to eat or drink near you?? iVenues is the answer.</p>
            <p class="text-left centered white_p animated  bounceInDown"><span class="fa fa-cutlery"></span> Enter your city name to start recommending to you!!</p>

            <div class="row">
              <div class=" col-md-6 col-md-offset-3">
            <input type="search" class="  form-control  animated bounceInDown"   ng-model="location_start"  placeholder="My city is...">
            </div>
            </div>
            <label id ="submitC" class="btn btn-success startButton btn-lg animated  bounceInUp "  ng-click="mainCtrl.changeStart(); mainCtrl.setLocationStart(location_start) ; ">Let's Start!!</label>

            <p class="text-left centered white_p_bottom animated  bounceInDown"> Powered By: Foursquare,Yelp and Google.</p>


          </div>
        </div>



        <div id ="help_anim" class="row help_screen animated  bounceInRight" ng-show="mainCtrl.endS" >
          <div class="col-md-8 col-md-offset-2 centered wrapper">
            <p class="text-center  white_p_blue animated  bounceInDown"><b>Search Menu:</b></p>
            <p class="text-center  white_p_s animated  bounceInDown">User can search for everything he wants to eat/drink/visit(e.g. pizza,pub,..) using the form on the left.</p>
            <p class="text-center  white_p_s animated  bounceInDown">There are three buttons to determine how far away the venues should be.</p>

            <p class="text-center  white_p_blue animated  bounceInDown"><b>MAP:</b></p>
            <p class="text-center  white_p_s animated  bounceInDown">User can locate his city by using the form on the top <b>or</b> locate his current position with the arrow next to the form.</p>
            <p class="text-center  white_p_s animated  bounceInDown">User can drag and drop the circle in the map to change the searched area.</p>

            <label id="help_button" ng-hide="mainCtrl.startS" class="btn btn-danger " ng-click="mainCtrl.changeEnd()"><i class="fa fa-times-circle"></i> close</label>

          </div>
        </div>



        <!-- menu panel -->

        <div class="col-md-4 menu " ng-hide="mainCtrl.startS">


          <div  class="row_ed new hidden-md hidden-lg" ng-controller="mapControllerS as mapCtrlS">
            <div id="map_canvas" ng-controller="mapControllerS as mapCtrlS">

              <div class="row row_ed2 ">

            <div class="col-md-4 col-md-offset-4" >
              <div id = "over_map" class="input-group add-on">
                <input type="search" class="form-control "  ng-model="loc_query" ng-keyup="$event.keyCode == 13 && mapCtrlS.setMapLoc(loc_query)" placeholder="Locate your city...">
                <div  class=" input-group-btn ">
                  <button  class="btn btn-default  " type="submit" ng-click="mapCtrlS.locate()"><i class="fa fa-location-arrow"></i></button>
                </div>
              </div>
            </div>
          </div>




          </div>
         </div>







          <!--  Search paragraph  -->
          <div class="row row_ed_dark ">
          <div class="col-md-10 col-md-offset-1" >
            <p class="text-center  help_sm">Welcome to i-Venues, we recommend everything you want...</p>

            <div class="input-group add-on">
              <input type="search" class="form-control "  ng-model="query" ng-keyup="$event.keyCode == 13 && mainCtrl.setQuery(query)" placeholder="I am looking for...">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="mainCtrl.setQuery(query)"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </div>

        </div>



          <!--  Distance paragraph  -->
          <div class="row_ed_dark centered">
            <p class="text-center  help_sm">How far away from your location??</p>

            <div class="btn-group ">
              <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'" ng-click="mainCtrl.setRadius(1200)">10' on foot</label>
              <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'" ng-click="mainCtrl.setRadius(2000)">15' on foot</label>
              <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right2'" ng-click="mainCtrl.setRadius(2800)">20' on foot</label>
            </div>
          </div>





          <!--  Lists paragraph  -->

          <div class="row row_ed" >
            <div class="centered "><img id="load" class="animated  bounceInLeft" ng-show="data.load"ng-src="images/load.gif" style=" margin:10px; height:20px;"></div>

            <p class="text-center help_sm ">We recommend:</p>




          <lists items="items"/>

          </div>






          <div class="row row_ed_dark centered"  >
            <div class="col-md-12 ">
		          <p>iVenues is powered with data retrieved from Foursquare, Google Places and Yelp.</p>
		          <p>For developers there is an API <a href="http://venues.herokuapp.com/">(click here)</a></p>

              <p>Copyright &copy; 2015 <a href="https://uk.linkedin.com/pub/ioannis-georgoulas/8b/a4b/88b">Ioannis Georgoulas</a></p>

	           </div>
	        </div>


        </div>


        <div class="col-md-8 hidden-xs hidden-sm map panel" >
          <div ng-if="data.showMap" id="map_canvas" ng-controller="mapController as mapCtrl">

            <div class="row row_ed ">

          <div class="col-md-4 col-md-offset-4" >
            <div id = "over_map" class="input-group add-on">
              <input type="search" class="form-control search_dark "  ng-model="loc_query" ng-keyup="$event.keyCode == 13 && mapCtrl.setMapLoc(loc_query)" placeholder="Locate your city...">
              <div  class=" input-group-btn ">
                <button  class="btn btn-default  " type="submit" ng-click="mapCtrl.locate()"><i class="fa fa-location-arrow"></i></button>
              </div>
            </div>
          </div>

        </div>


          <ui-gmap-google-map center='map.center'zoom='map.zoom'  options="options" >
            <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"  events='c.events'></ui-gmap-circle>
            <ui-gmap-marker ng-repeat="m in data.markersShared track by m.idKey" idKey="m.idKey" coords="m.coords" options="m.options" click="'onClick2'" ></ui-gmap-circle>
          </ui-gmap-google-map>


        </div>
        </div>
      </div>
    </div>

  </body>
</html>
