
<div class="col-md-3  centered" ng-repeat='item in items'>

  <div class="row btn-group buttons">
    <label class="col-md-3 btn btn-success " ng-model="radioModel2" btn-radio="'1'"  ng-click="test.setApi(item.name,1)">1</label>
    <label class="col-md-3 btn btn-info" ng-model="radioModel2" btn-radio="'2'" ng-click="test.setApi(item.name,2)">2</label>
    <label class="col-md-3 btn btn-warning" ng-model="radioModel2" btn-radio="'3'" ng-click="test.setApi(item.name,3)">3</label>
    <label class="col-md-3 btn btn-danger" ng-model="radioModel2" btn-radio="'4'" ng-click="test.setApi(item.name,4)">4</label>
  </div>

  <h3 class="centered" ng-show=" radioModel2 != null  ">Position:  {{radioModel2}}</h3>
  <h3 class="centered" ng-show=" radioModel2 == null   ">Position:  {{test.trol[0].val}}</h3>

  <ul class="list-group centered_div" ng-repeat='api in item.venues'>
    <li class="list-group-item centered_div"><div class="List_tit"><b>{{api.name}}</b></div><div class="List_con">Rating: {{api.rating}}</div><div class="List_con">Distance:{{api.distance}} km</div></li>

  </ul>

</div>
